*.RData
*.Rda
*.RDataTmp
*.Ruserdata
#previous commands excluded all .Rda/.RData
!data/test.rda
!data/eco_cho_10_prod10.rda
!data/eco_cho_45_prod18.rda
!data/eco_cho_7_prod13.rda
!data/eco_cho_7_prod15.rda
!data/eco_cho_7_prod10.rda
!data/eco_cho_7_prod18.rda
!data/eq_struct.rda
!data/fec_Cent_vie_Cent_mig_Cent.rda
!data/fec_Cent_vie_Cent_mig_Bas.rda
!data/fec_Cent_vie_Cent_mig_Haut.rda
!data/fec_Cent_vie_Cent_mig_Travail.rda
!data/fec_Cent_vie_Bas_mig_Cent.rda
!data/fec_Cent_vie_Bas_mig_Bas.rda
!data/fec_Cent_vie_Bas_mig_Haut.rda
!data/fec_Cent_vie_Bas_mig_Travail.rda
!data/fec_Cent_vie_Haut_mig_Cent.rda
!data/fec_Cent_vie_Haut_mig_Bas.rda
!data/fec_Cent_vie_Haut_mig_Haut.rda
!data/fec_Cent_vie_Haut_mig_Travail.rda
!data/fec_Cent_vie_Travail_mig_Cent.rda
!data/fec_Cent_vie_Travail_mig_Bas.rda
!data/fec_Cent_vie_Travail_mig_Haut.rda
!data/fec_Cent_vie_Travail_mig_Travail.rda
!data/fec_Bas_vie_Cent_mig_Cent.rda
!data/fec_Bas_vie_Cent_mig_Bas.rda
!data/fec_Bas_vie_Cent_mig_Haut.rda
!data/fec_Bas_vie_Cent_mig_Travail.rda
!data/fec_Bas_vie_Bas_mig_Cent.rda
!data/fec_Bas_vie_Bas_mig_Bas.rda
!data/fec_Bas_vie_Bas_mig_Haut.rda
!data/fec_Bas_vie_Bas_mig_Travail.rda
!data/fec_Bas_vie_Haut_mig_Cent.rda
!data/fec_Bas_vie_Haut_mig_Bas.rda
!data/fec_Bas_vie_Haut_mig_Haut.rda
!data/fec_Bas_vie_Haut_mig_Travail.rda
!data/fec_Bas_vie_Travail_mig_Cent.rda
!data/fec_Bas_vie_Travail_mig_Bas.rda
!data/fec_Bas_vie_Travail_mig_Haut.rda
!data/fec_Bas_vie_Travail_mig_Travail.rda
!data/fec_Haut_vie_Cent_mig_Cent.rda
!data/fec_Haut_vie_Cent_mig_Bas.rda
!data/fec_Haut_vie_Cent_mig_Haut.rda
!data/fec_Haut_vie_Cent_mig_Travail.rda
!data/fec_Haut_vie_Bas_mig_Cent.rda
!data/fec_Haut_vie_Bas_mig_Bas.rda
!data/fec_Haut_vie_Bas_mig_Haut.rda
!data/fec_Haut_vie_Bas_mig_Travail.rda
!data/fec_Haut_vie_Haut_mig_Cent.rda
!data/fec_Haut_vie_Haut_mig_Bas.rda
!data/fec_Haut_vie_Haut_mig_Haut.rda
!data/fec_Haut_vie_Haut_mig_Travail.rda
!data/fec_Haut_vie_Travail_mig_Cent.rda
!data/fec_Haut_vie_Travail_mig_Bas.rda
!data/fec_Haut_vie_Travail_mig_Haut.rda
!data/fec_Haut_vie_Travail_mig_Travail.rda
!data/fec_Travail_vie_Cent_mig_Cent.rda
!data/fec_Travail_vie_Cent_mig_Bas.rda
!data/fec_Travail_vie_Cent_mig_Haut.rda
!data/fec_Travail_vie_Cent_mig_Travail.rda
!data/fec_Travail_vie_Bas_mig_Cent.rda
!data/fec_Travail_vie_Bas_mig_Bas.rda
!data/fec_Travail_vie_Bas_mig_Haut.rda
!data/fec_Travail_vie_Bas_mig_Travail.rda
!data/fec_Travail_vie_Haut_mig_Cent.rda
!data/fec_Travail_vie_Haut_mig_Bas.rda
!data/fec_Travail_vie_Haut_mig_Haut.rda
!data/fec_Travail_vie_Haut_mig_Travail.rda
!data/fec_Travail_vie_Travail_mig_Cent.rda
!data/fec_Travail_vie_Travail_mig_Bas.rda
!data/fec_Travail_vie_Travail_mig_Haut.rda
!data/fec_Travail_vie_Travail_mig_Travail.rda
#previous command makes an exception

#to include personal parameters that are not followed
param_perso.R

.Rproj.user
.Rhistory
Thumbs.db
src/*.o
src/*.so
src/*.dll
*.bak
man/*.Rd

#when making the documentation
documentation/doxygen/*
!documentation/doxygen/latex
documentation/doxygen/latex/*
!documentation/doxygen/latex/Diagramme2.dia
!documentation/doxygen/latex/Diagramme2.pdf
!documentation/doxygen/latex/bibliography.bib
!documentation/doxygen/latex/chapter1.tex
!documentation/doxygen/latex/refman2.tex
!documentation/doxygen/latex/guide_Destinie.tex


__pycache__
.venv
