<!doctype html>
<title>Version expert</title>
<h1>Version expert</h1>
<p>
    Cette version demande une saisie assez détaillée des informations. Un fichier Excel doit être rempli puis envoyé à partir du formulaire ci-dessous.
    Un exemple de fichier Excel <a href="example.xlsx">est disponible</a>.
</p>
<p>
    3 catégories d'informations sont nécessaires&nbs;:
    <ul>
        <li>Les caractéristiques de l'individu et les informations qui le concernent (année de naissance, sexe, etc.)</li>
        <li>Les salaires bruts et les statuts (étudiant, cadre, non-cadre, chomeur, fonctionnaire, contractuel, etc.) tout au long de la vie.</li>
        <li>Les informations sur la situation familiale (mode expert++ à vos risques et périls)</li>
    </ul>
    Afin de bien remplir le fichier Excel, il peut être utile de consulter la
    <a
        target="_blank"
        rel="noopener"
        href="https://github.com/nosretraites/Destinie-2/blob/master/documentation/documentation.pdf"
        >
        documentation de Destinie</a>.
</p>
<p>
    Le résultat de la simulation est ausi un fichier Excel avec des données supplémentaires.
    <ul>
        <li>Des informations sur le moment de passage à la retraite (liquidation)</li>
        <li>L'évolution de la retraite</li>
        <li>Le détail des salaires nets (calculés à partir des salaires bruts)</li>
        <li>Le détail des cotisations sociales</li>
    </ul>
</p>
<p>Bon jeu</p>

<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Envoi>
</form>
<div><a href="/">Accueil</a></div>